---
- hosts: all
  vars:
    app_path: "/home/laborant/app"
    service_name: "app.service"

  tasks:
    - name: Install Node.js and npm on target server
        ansible.builtin.package:
          name:
            - nodejs
            - npm
          state: present
    - name: Copy Node.js Application
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ app_path }}/"
      loop:
        - "index.js"
        - "package.json"
        - "package-lock.json"

    - name: Install dependencies on server
      ansible.builtin.npm:
        path: "{{ app_path }}"

    - name: Make index.js executable
      file:
        path: /home/laborant/app/index.js
        mode: '0755'

    - name: Create the unit file
      become: True
      ansible.builtin.copy:
        src: "{{ service_name }}"
        dest: "/etc/systemd/system/{{ service_name }}"

    - name: Start and enable the Node.js service
      become: True
      ansible.builtin.systemd:
        name: "{{ service_name }}"
        daemon_reload: true
        enabled: yes
        state: restarted
